<!DOCTYPE html>
<html>
  <head>
    <title>Rolendar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto my-5 lg:my-10 px-5">
      <div class="pb-5 mb-5 flex items-center space-x-5 border-b border-b-black">
        <%= link_to "Home", root_path %>
        <%= button_to "Login with Developer", "/auth/developer", form: { data: { turbo: false } }, class: "px-3 border border-black hover:bg-green-100" %>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
