<!DOCTYPE html>
<html>
  <head>
    <title>Rolendar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto my-5 lg:my-10 px-5">
      <div class="pb-5 mb-5 flex items-center space-x-5 border-b border-b-black">
        <%= link_to "Home", root_path %>

        <% if Current.user %>
          <span><%= Current.user.username %></span>
          <%= link_to "Campaigns", campaigns_path %>
          <%= link_to "Calendar", calendar_path %>
          <%= button_to "Desconectar", sign_out_path, method: :delete, class: "px-3 border border-black hover:bg-red-100" %>
        <% else %>
          <%= button_to "Login with Developer", "/auth/developer/?origin=#{request.original_url}", form: { data: { turbo: false } }, class: "px-3 border border-black hover:bg-green-100" if Rails.env.development? %>
          <%= button_to "Login with Discord", "/auth/discord/?origin=#{request.original_url}", form: { data: { turbo: false } }, class: "px-3 border border-black hover:bg-green-100" %>
        <% end %>
      </div>

      <% flash.each do |key, value| %>
        <div class="mb-5 px-3 py-2 border <%= flash_messages_class_names(key) %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
